<ul>
    <% user.users_badges.each do |b| %>
        <li>
            Issuer/Name: <%= link_to b.badge.full_name, users_badge_path(b) %>
        </li>
        <ul>
            <li>
                Expiration: <%= b.expiration.strftime("%B %d, %Y") %>
            </li>
        </ul>
        <%= button_to 'Remove', users_badge_path(b), method: :delete if can? :manage, UsersBadge %>
        <%= button_to 'Edit', edit_users_badge_path(b), method: :get if can? :manage, UsersBadge %>
        <hr>
    <% end %>
</ul>
