    <li>
        <%= f.full_name %>
        <ul>
            <li>
                Email: <%= f.email %>
            </li>
                <li>
                Phone #: <%= f.phone_number %>
            </li>
        </ul>
    </li>
