<h1> All Badges </h1>


<hr>
<ul>
<% Badge.all.collect{|b| b.issuer}.uniq.each do |badge| %>
    <li> <h3> <%= badge %> </h3> </li>
    <ul>
    <% Badge.group_badges(badge).each do |b|%>
        <li><%= link_to b.name, badge_path(b) %> </li>
    <% end %>
    </ul>
    <hr>
<% end %>
</ul>
