<div class="container">
    <h2>Office Workers: </h2>
    <ul>
        <% @users.all_but_foreman.all_but_helper.each do |f| %>
            <%= render partial: 'share/contacts', locals: {f: f} %>
        <% end %>
    </ul>
    <hr>
</div>
