<h1> Welcome Home <%= current_user.first_name if signed_in? %> </h1>
<%= link_to 'Edit Yourself', edit_user_registration_path(current_user.id) if signed_in?%>

<% User.all.each do |t| %>
    <%= link_to t.first_name, edit_user_registration_path(t.id)%>
<% end %>
