<h1> Helpers Index </h1>
<% if params[:foreman_id] %>
        <h2> Here's all <%= @foreman.full_name %>'s helpers </h2>
<% end %>

<ul>
<% @helpers.each do |helper| %>
    <li><%= link_to helper.user.full_name, helper_path(helper) %></li>
    <%= link_to "edit", edit_helper_path(helper) %><br>
<% end %>
</ul>
