<h1> Foreman index </h1>
<ul>
<% Foreman.all.each do |f| %>
    <li> <h3> <%=link_to "#{f.full_name}", foreman_path(f) %></h3> </li>
    <%= link_to 'Edit', edit_foreman_path(f) %> /
    <%= link_to 'View Helpers', foreman_helpers_path(f)%>
<% end %>
</ul>
